{% extends "bootstrap/base.html" %}
{% block title %} Create a proposal for a new project {% endblock %}
{% block content %}
    <div class="container">
        <h1>New Project Form</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> {{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="form-control", placeholder="Project Name") }}
            </div>

            <div class="form-group">
                {{ form.client.label }} {{ form.client(class="form-control", placeholder="Client Name") }}
            </div>

            <div class="input submit">
                {{ form.submit() }}
            </div>
        </form>

    </div>
{% endblock %}
